.game {
	margin-top: min(5%, 50px);
}

.game-state {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	font-size: 28px;
}

.daily-word-meaning {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	font-size: 18px;
}
